.intro {
  .text {
    h1 {
      color: #ff3f3f;
      letter-spacing: 1px;
      font-family: "Montserrat", sans-serif;
      font-size: 35px;
      font-weight: 600;
    }

    h3 {
      font-size: 22px;
      letter-spacing: 1px;
      color: #808080;
      font-family: "Poppins", sans-serif;
      margin-top: 0px !important;
    }

    p {
      font-size: 18px;
      letter-spacing: 1px;
      font-family: "Open Sans", sans-serif;
      margin-top: 15px !important;

      a {
        text-decoration: none;

        i {
          font-size: 35px;
          color: rgb(44, 44, 44);
        }
      }
    }
  }
}

.ver-mais {
  a {
    cursor: inherit;
    text-decoration: none;

    i {
      font-size: 40px;
      color: #ff3f3f;
    }
  }
}

.sobre {
  border-radius: 2px;
  -webkit-box-shadow: 4px 4px 7px 0px rgba(128, 128, 128, 1);
  -moz-box-shadow: 4px 4px 7px 0px rgba(128, 128, 128, 1);
  box-shadow: 4px 4px 7px 0px rgba(128, 128, 128, 1);

  img {
    border-radius: 50%;
  }

  .texto {
    h3 {
      font-size: 30px;
      letter-spacing: 1px;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      border-bottom: 1px solid #ff3f3f;
      width: 120px;
    }

    p {
      letter-spacing: 1px;
      font-family: "Poppins", sans-serif;
      font-size: 19px;
      color: rgba(0, 0, 0, 0.7);
    }

    .cv {
      font-size: 17px;
      letter-spacing: 1px;
      font-family: "Open Sans", sans-serif;
      color: #ff3f3f;
      border: 1px solid #ff3f3f;
      border-radius: 5px;
      transition: all 0.3s ease;
    }

    .contato {
      font-size: 17px;
      letter-spacing: 1px;
      font-family: "Open Sans", sans-serif;
      border: 1px solid #808080;
      border-radius: 5px;
      transition: all 0.3s ease;
      color: white;
      background: #808080;

      &:hover {
        background: #6e6e6e;
        transition: all 0.3s ease;
      }
    }
  }
}

.atividades {
  background: #6e6e6e;

  h3 {
    font-size: 35px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 600;
  }

  .card-atvidades {
    background: rgba(255, 255, 255, 1);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);

    img {
      margin-left: -10px;
    }

    h4 {
      margin-top: 10px;
      letter-spacing: 1px;
      font-size: 23px;
      font-family: "Poppins", sans-serif;
    }

    p {
      letter-spacing: 1px;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
    }
  }
}

.wrapper_services {
  h3 {
    font-size: 35px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border-bottom: 1px solid #ff3f3f;
  }

  .wrapper_services_body {
    .wrapper_card {
      margin-top: 80px;
      border: 1px solid #ff3f3f;
      border-radius: 3px;

      header {
        margin-top: 20px;

        h4 {
          color: #ff3f3f;
          font-family: "Montserrat", sans-serif;
          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
          padding-bottom: 4px;
          margin-left: 2px;
          max-width: 200px;
        }
      }

      .content {
        margin-top: 25px;

        article {
          img {
            margin-top: -14px;
            margin-left: 2px;
            width: 25px;
            height: 25px;
          }

          i {
            font-size: 30px;
            margin-right: 7px;
          }

          .react {
            color: #5ac9e7;
          }

          .node {
            color: #539e43;
          }

          .css {
            color: #264ce4e5;
          }
        }

        section {
          margin-top: 20px;

          p {
            line-height: 22px;
            color: #6e6e6e;
            font-family: "Open Sans", sans-serif;
            font-size: 17px;
            margin-bottom: 30px;
            max-width: 450px;
          }

          a {
            text-decoration: none;
            border-radius: 5px;
            color: #ff3f3f;
            border: 1px solid #ff3f3f;
            padding: 7px 20px;
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            transition: all 0.3s ease;

            &:hover {
              background: #ff3f3fb6;
              border: 1px solid #ff3f3f4d;
              color: white;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }

    .githubapi {
      border: 1px solid #7e7e7f;

      header {
        margin-top: 20px;

        h4 {
          color: #7e7e7f;
        }
      }

      .content {
        margin-top: 25px;

        section {
          margin-top: 20px;

          p {
            line-height: 22px;
            font-size: 17px;
            margin-bottom: 30px;
            max-width: 450px;
          }

          a {
            color: #7e7e7f;
            border: 1px solid #7e7e7f;

            &:hover {
              background: #7e7e7f;
              border: 1px solid #7e7e7f;
            }
          }
        }
      }
    }

    .sporgenda {
      border: 1px solid #6dc75f;

      header {
        margin-top: 20px;

        h4 {
          color: #6dc75f;
        }
      }

      .content {
        margin-top: 25px;

        section {
          margin-top: 20px;

          p {
            line-height: 22px;
            font-size: 17px;
            margin-bottom: 30px;
            max-width: 450px;
          }

          a {
            color: #6dc75f;
            border: 1px solid #6dc75f;

            &:hover {
              background: #6dc75f;
              border: 1px solid #6dc75f;
            }
          }
        }
      }
    }
  }
}

// Ipad Pro
@media (max-width: 1200px) {
  .wrapper_services_body {
    .wrapper_card {
      .content {
        margin-top: 18px !important;

        article {
          i {
            font-size: 27px !important;
            margin-right: 7px;
          }
        }

        section {
          margin-top: 12px !important;
          padding-bottom: 20px;

          p {
            line-height: 22px;
            font-size: 16px !important;
            margin-bottom: 20px !important;
            max-width: 100% !important;
          }

          a {
            padding: 7px 20px;
            font-size: 15px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper_services_body {
    margin-top: 80px !important;

    .wrapper_card {
      header {
        margin-top: 25px !important;
      }
    }
  }
}

@media (max-width: 500px) {
  .sobre {
    .texto {
      p {
        font-size: 17px;
      }
    }
  }

  .wrapper_services {
    h3 {
      font-size: 30px;
    }
    .wrapper_services_body {
      margin-top: 40px !important;

      .wrapper_card {
        .content {
          section {
            p {
              font-size: 15px !important;
            }
          }
        }
      }
    }
  }
}
